# FINALIDAD

Esta nb levanta el file con anotaciones 371_estatutos.json, lo limpia de errores y crea el dataframe estatutos_anotados.pkl con 308 registros finales para entrenamiento.

In [3]:
import pandas as pd
import numpy as np
import json
import os 
os.getcwd()

'C:\\Users\\juani\\Documents\\3_My_Jupiter_Notebooks\\0_github\\ner'

# PRIMER DATASET

In [173]:
# Load the annotated data from a JSON file
df = json.load(open(r'C:\\Users\\juani\\Documents\\3_My_Jupiter_Notebooks\\0_github\\ner\\data\\371_estatutos.json','r', encoding="utf-8"))
# Display the first item in the dataset
df['annotations'][0]

['\r\nFLORIAN\xa0S.A.\r\n1) Daniel Mario Marquez DNI 10788314 argentino divorciado comerciante 23/02/53 Guillermo Rawson 2715, \r\nLocalidad Olivos, Partido Vicente Lopez, Pcia. De Bs. As., quien suscribe 95 acciones y Alberto Rivera Luna DNI \r\n18820133 argentino divorciado comerciante 06/01/68 Av. Cobo 1581 CABA, quien suscribe 5 acciones. Todas \r\nnominativas no endosables de $\xa04.000 de Valor Nominal y de 1 Voto por acción 2) 10/02/22 4) Junin 1715 CABA \r\n5) Restaurante, café, bar, salón de eventos 6) 30 años 7) $\xa0400.000 8) Dirección y administración 1 a 7 directores \r\npor 3 ejercicios. Sin Síndicos 9) El Presidente. Presidente Daniel Mario Marquez Vicepresidente Alberto Rivera \r\nLuna y Suplente Gustavo Marcelo Graieb: DNI 14157635 argentino soltero productor de seguros 14/05/60 Av. \r\nCabildo 1695 Piso 8 Depto. 26 CABA todos con domicilio especial en la sede social 10) 30/06 Autorizado según \r\ninstrumento público Esc. Nº\xa016 de fecha 10/02/2022 Reg. Nº\xa0412\r\nPablo Damián Rodriguez - T°: 69 F°: 84 C.P.A.C.F.\r\n\r\n\r\n ',
 {'entities': [[2, 14, 'SOCIEDAD'],
   [19, 39, 'SOCIO'],
   [44, 52, 'DNI'],
   [208, 227, 'SOCIO'],
   [234, 242, 'DNI'],
   [962, 984, 'ESCRIBANO']]}]

In [174]:
df.keys()

dict_keys(['classes', 'annotations'])

In [175]:
len(df['annotations'])

371

In [176]:
type(df['annotations'])

list

In [177]:
len(df['annotations'][100])

2

In [178]:
for idx,l in enumerate(df['annotations']):
    if l is None:
        print(idx)

24
43
91
121
217
300
303
317
333
344

In [179]:
# eliminamos los elementos vacíos:
print(len(df['annotations']))
df['annotations'] = [l for l in df['annotations'] if l is not None]
print(len(df['annotations']))

371
361

In [180]:
# creamos un dataframe:
df_ = pd.DataFrame(df['annotations'])

# eliminamos los elementos duplicados:
print(f'tamaño inicial: {len(df_)}')
print(f'duplicados: {len(df_[df_.duplicated([0], keep=False)])}')
df_ = df_[~df_.duplicated([0], keep=False)]
print(f'tamaño final: {len(df_)}')

tamaño inicial: 361
duplicados: 39
tamaño final: 322

In [181]:
# detectamos los documentos con problemas de anotacion en DNIs (por contiguidad de texto... etc)
problematicos_idx = []
for n,d in enumerate(df_exp2[1].tolist()):
    for l in d['entities']:
        if 'DNI' in l and l[1]-l[0]> 10:
            # print(n)
            problematicos_idx.append(n)
print(len(problematicos_idx))
print(problematicos_idx)

18
[19, 38, 79, 101, 101, 109, 123, 165, 166, 166, 212, 212, 230, 230, 231, 267, 275, 291]

In [142]:
df_ = df_.reset_index(drop=True).drop(index=problematicos_idx)
len(df_)

308

In [182]:
# volvemos al formato anterior:
ls_anotada = df_.values.tolist()
ls_anotada[0]

['\r\nFLORIAN\xa0S.A.\r\n1) Daniel Mario Marquez DNI 10788314 argentino divorciado comerciante 23/02/53 Guillermo Rawson 2715, \r\nLocalidad Olivos, Partido Vicente Lopez, Pcia. De Bs. As., quien suscribe 95 acciones y Alberto Rivera Luna DNI \r\n18820133 argentino divorciado comerciante 06/01/68 Av. Cobo 1581 CABA, quien suscribe 5 acciones. Todas \r\nnominativas no endosables de $\xa04.000 de Valor Nominal y de 1 Voto por acción 2) 10/02/22 4) Junin 1715 CABA \r\n5) Restaurante, café, bar, salón de eventos 6) 30 años 7) $\xa0400.000 8) Dirección y administración 1 a 7 directores \r\npor 3 ejercicios. Sin Síndicos 9) El Presidente. Presidente Daniel Mario Marquez Vicepresidente Alberto Rivera \r\nLuna y Suplente Gustavo Marcelo Graieb: DNI 14157635 argentino soltero productor de seguros 14/05/60 Av. \r\nCabildo 1695 Piso 8 Depto. 26 CABA todos con domicilio especial en la sede social 10) 30/06 Autorizado según \r\ninstrumento público Esc. Nº\xa016 de fecha 10/02/2022 Reg. Nº\xa0412\r\nPablo Damián Rodriguez - T°: 69 F°: 84 C.P.A.C.F.\r\n\r\n\r\n ',
 {'entities': [[2, 14, 'SOCIEDAD'],
   [19, 39, 'SOCIO'],
   [44, 52, 'DNI'],
   [208, 227, 'SOCIO'],
   [234, 242, 'DNI'],
   [962, 984, 'ESCRIBANO']]}]

In [146]:
estatutos_anotados = pd.DataFrame(ls_anotada)
estatutos_anotados.to_pickle('estatutos_anotados.pkl')

In [184]:
estatutos_anotados

,0,1
0,\r\nFLORIAN S.A.\r\n1) Daniel Mario Marquez DN...,"{'entities': [[2, 14, 'SOCIEDAD'], [19, 39, 'S..."
1,\r\n\r\n \r\nAVAPYME S.A.S.\r\nCONSTITUCIÓN: ...,"{'entities': [[8, 22, 'SOCIEDAD'], [54, 74, 'S..."
2,\r\n\r\n \r\nSHABBA FARMA S.R.L.\r\nEsc. 269 ...,"{'entities': [[8, 27, 'SOCIEDAD'], [78, 97, 'S..."
3,\r\n\r\n \r\nDUBAI ENERGY S.A.\r\nCONSTITUCIO...,"{'entities': [[8, 25, 'SOCIEDAD'], [81, 102, '..."
4,\r\n\r\n \r\nPUBLICA LAB S.A.S.\r\nCONSTITUCI...,"{'entities': [[8, 26, 'SOCIEDAD'], [58, 80, 'S..."
...,...,...
303,\r\n\r\n \r\nTRANSPORTE 787 S.A.\r\nEsc. 12 d...,"{'entities': [[8, 27, 'SOCIEDAD'], [78, 89, 'S..."
304,\r\n\r\n \r\nRODIALE S.A.\r\nPor escritura de...,"{'entities': [[8, 20, 'SOCIEDAD'], [86, 100, '..."
305,\r\n\r\n \r\nARQ & CO S.A.S.\r\nCONSTITUCIÓN:...,"{'entities': [[8, 23, 'SOCIEDAD'], [55, 81, 'S..."
306,\r\n\r\n \r\n\r\n\r\n \r\nEVENTOS TURISTICOS ...,"{'entities': [[15, 50, 'SOCIEDAD'], [68, 88, '..."
307,\r\n\r\n \r\nTRUST STREAMING S.R.L.\r\nConsti...,"{'entities': [[8, 30, 'SOCIEDAD'], [127, 148, ..."

# SEGUNDO DATASET
## ARMAMOS UN SEGUNDO DATASET DEJANDO VACIOS LOS ENTRENAMIENTOS CON POCOS DATOS:

In [186]:
# detectamos los documentos con problemas de anotacion en DNIs (por contiguidad de texto... etc)
problematicos_idx = []
for n,d in enumerate(estatutos_anotados[1].tolist()):
    for l in d['entities']:
        if 'ESCRIBANO' in l :
            if estatutos_anotados[0][n][l[0]:l[1]]=='Trámites a Distancia':
                problematicos_idx.append(n)
            # print(df_exp2[0][n][l[0]:l[1]])
            
#             problematicos_idx.append(n)
# print(len(problematicos_idx))
# print(problematicos_idx)

In [167]:
# eliminamos los registros de 'escribano' en los casos que sean "problematicos":
for d in df_exp2[1][problematicos_idx]:
    d['entities'] = [sublist for sublist in d['entities'] if 'ESCRIBANO' not in sublist]
    # print(d['entities'])

In [168]:
# controlamos que ya no haya casos problematicos:
problematicos_idx = []
for n,d in enumerate(df_exp2[1].tolist()):
    for l in d['entities']:
        if 'ESCRIBANO' in l :
            if df_exp2[0][n][l[0]:l[1]]=='Trámites a Distancia':
                problematicos_idx.append(n)
len(problematicos_idx)

0

In [170]:
# detectamos los documentos con problemas de anotacion en DNIs (por contiguidad de texto... etc)
problematicos_idx = []
for n,d in enumerate(df_exp2[1].tolist()):
    for l in d['entities']:
        if 'DNI' in l and l[1]-l[0]> 10:
            # print(n)
            problematicos_idx.append(n)
print(len(problematicos_idx))
print(problematicos_idx)

18
[19, 38, 79, 101, 101, 109, 123, 165, 166, 166, 212, 212, 230, 230, 231, 267, 275, 291]

In [172]:
df2 = df_exp2.reset_index(drop=True).drop(index=problematicos_idx)
len(df2)

347

In [169]:
df_exp2

,0,1
0,\r\nFLORIAN S.A.\r\n1) Daniel Mario Marquez DN...,"{'entities': [[2, 14, 'SOCIEDAD'], [19, 39, 'S..."
1,\r\n\r\n \r\nAVAPYME S.A.S.\r\nCONSTITUCIÓN: ...,"{'entities': [[8, 22, 'SOCIEDAD'], [54, 74, 'S..."
2,\r\n\r\n \r\nSHABBA FARMA S.R.L.\r\nEsc. 269 ...,"{'entities': [[8, 27, 'SOCIEDAD'], [78, 97, 'S..."
3,\r\n\r\n \r\nDUBAI ENERGY S.A.\r\nCONSTITUCIO...,"{'entities': [[8, 25, 'SOCIEDAD'], [81, 102, '..."
4,\r\n\r\n \r\nPUBLICA LAB S.A.S.\r\nCONSTITUCI...,"{'entities': [[8, 26, 'SOCIEDAD'], [58, 80, 'S..."
...,...,...
356,\r\n\r\n \r\nTRANSPORTE 787 S.A.\r\nEsc. 12 d...,"{'entities': [[8, 27, 'SOCIEDAD'], [78, 89, 'S..."
357,\r\n\r\n \r\nRODIALE S.A.\r\nPor escritura de...,"{'entities': [[8, 20, 'SOCIEDAD'], [86, 100, '..."
358,\r\n\r\n \r\nARQ & CO S.A.S.\r\nCONSTITUCIÓN:...,"{'entities': [[8, 23, 'SOCIEDAD'], [55, 81, 'S..."
359,\r\n\r\n \r\n\r\n\r\n \r\nEVENTOS TURISTICOS ...,"{'entities': [[15, 50, 'SOCIEDAD'], [68, 88, '..."
360,\r\n\r\n \r\nTRUST STREAMING S.R.L.\r\nConsti...,"{'entities': [[8, 30, 'SOCIEDAD'], [127, 148, ..."

In [ ]:
df_exp2

FIN