Esta nb repasa la composicion de las sociedades en Argentina para tener una idea de la composición

Key Takeaways

1. 5 tipos societarios concentran >90% de las sociedades
2. 5 provincias concentran > 80% de las sociedades
3. desde los 80s a esta parte > 90% de las sociedaes

In [130]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_columns', None)

In [5]:
os.listdir('../data/rns/')

['.~lock.registro-nacional-sociedades-202210.csv#',
 'registro-nacional-sociedades-2022-semestre-2.zip',
 'registro-nacional-sociedades-202207.csv',
 'registro-nacional-sociedades-202208.csv',
 'registro-nacional-sociedades-202209.csv',
 'registro-nacional-sociedades-202210.csv',
 'registro-nacional-sociedades-202211.csv',
 'registro-nacional-sociedades-2024-semestre-2.zip',
 'registro-nacional-sociedades-202407.csv',
 'registro-nacional-sociedades-202408.csv',
 'registro-nacional-sociedades-202409.csv',
 'registro-nacional-sociedades-muestreo.csv']

In [7]:
df = pd.read_csv('../data/rns/registro-nacional-sociedades-202409.csv')
df.head(3)

,cuit,razon_social,fecha_hora_contrato_social,tipo_societario,fecha_hora_actualizacion,numero_inscripcion,dom_fiscal_provincia,dom_fiscal_localidad,dom_fiscal_calle,dom_fiscal_numero,...,dom_fiscal_cp,dom_fiscal_estado_domicilio,dom_legal_provincia,dom_legal_localidad,dom_legal_calle,dom_legal_numero,dom_legal_piso,dom_legal_departamento,dom_legal_cp,dom_legal_estado_domicilio
0,30500000127,SEGUROS SURA S.A,1912-04-30-10:43,SOCIEDAD ANONIMA,2024-07-01-14:08,NaN,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,"PERON, JUAN TTE.GRAL.",430.0,...,1038.0,DECLARADO POR INTERNET,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,"GRIERSON,CECILIA BOULEVARD",255.0,1,NaN,1107.0,DECLARADO
1,30500000747,BANCO COMERCIAL DE TRES ARROYOS S A,1906-09-01-00:00,SOCIEDAD ANONIMA,2024-01-01-09:51,NaN,BUENOS AIRES,TRES ARROYOS,BETOLAZA,189.0,...,7500.0,INEXISTENTE - DESCONOCIDO,BUENOS AIRES,TRES ARROYOS,AV MORENO,300.0,NaN,NaN,7500.0,NO CONFIRMADO
2,30500001042,BANCO COMERCIAL DEL TANDIL S A,1964-03-21-00:00,SOCIEDAD ANONIMA,2024-02-22-13:51,NaN,BUENOS AIRES,TANDIL,GRAL PINTO,602.0,...,7000.0,DECLARADO,BUENOS AIRES,TANDIL,GRAL PINTO,602.0,NaN,NaN,7000.0,NO CONFIRMADO
3,30500001115,BOSTON COMPAÑIA ARGENTINA DE SEGUROS S A,1925-02-19-11:00,SOCIEDAD ANONIMA,2024-01-01-09:43,NaN,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,SUIPACHA,268.0,...,1008.0,CONFIRMADO,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,SUIPACHA,268.0,03,NaN,1008.0,DECLARADO
4,30500001352,BANCO DE CREDITO COMERCIAL,1913-03-10-00:00,SOCIEDAD ANONIMA,2024-02-22-13:58,NaN,SANTA FE,SANTA FE,SAN MARTIN,2498.0,...,3000.0,INEXISTENTE - DESCONOCIDO,SANTA FE,SANTA FE,SAN MARTIN,2498.0,NaN,NaN,3000.0,NO CONFIRMADO

In [9]:
df.shape[0]/1000

1190.1

In [18]:
# DATE
df['date']= pd.to_datetime(df['fecha_hora_contrato_social'], format='%Y-%m-%d-%H:%M', errors='coerce')
# Extract year, month, day, skipping NaT
df['year'] = df['date'].apply(lambda x: x.year if pd.notna(x) else None)
df['month'] = df['date'].apply(lambda x: x.month if pd.notna(x) else None)
df['day'] = df['date'].apply(lambda x: x.day if pd.notna(x) else None)

In [42]:
np.round(df[df.day.isna()].shape[0]/df.shape[0]*100,2)

0.93

In [68]:
df.head(2)

,cuit,razon_social,fecha_hora_contrato_social,tipo_societario,fecha_hora_actualizacion,numero_inscripcion,dom_fiscal_provincia,dom_fiscal_localidad,dom_fiscal_calle,dom_fiscal_numero,dom_fiscal_piso,dom_fiscal_departamento,dom_fiscal_cp,dom_fiscal_estado_domicilio,dom_legal_provincia,dom_legal_localidad,dom_legal_calle,dom_legal_numero,dom_legal_piso,dom_legal_departamento,dom_legal_cp,dom_legal_estado_domicilio,date,year,month,day,hour
0,30500000127,SEGUROS SURA S.A,1912-04-30-10:43,SOCIEDAD ANONIMA,2024-07-01-14:08,NaN,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,"PERON, JUAN TTE.GRAL.",430.0,6,NaN,1038.0,DECLARADO POR INTERNET,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,"GRIERSON,CECILIA BOULEVARD",255.0,1,NaN,1107.0,DECLARADO,1912-04-30 10:43:00,1912.0,4.0,30.0,10.0
1,30500000747,BANCO COMERCIAL DE TRES ARROYOS S A,1906-09-01-00:00,SOCIEDAD ANONIMA,2024-01-01-09:51,NaN,BUENOS AIRES,TRES ARROYOS,BETOLAZA,189.0,NaN,NaN,7500.0,INEXISTENTE - DESCONOCIDO,BUENOS AIRES,TRES ARROYOS,AV MORENO,300.0,NaN,NaN,7500.0,NO CONFIRMADO,1906-09-01 00:00:00,1906.0,9.0,1.0,0.0

# Analisis

In [103]:
def check_shares(df: pd.DataFrame, col: str = 'tipo_societario') -> pd.DataFrame:
    # Get value counts
    col_share = df[col].value_counts()

    # Create a DataFrame from the value counts
    df_col = pd.DataFrame(col_share).reset_index()

    # Rename columns for clarity
    df_col.columns = [col, 'count']

    # Calculate total counts
    all_col = df_col['count'].sum()

    # Calculate share and cumulative share
    df_col['share'] = (df_col['count'] / all_col * 100).round(2)
    df_col['share_cum'] = df_col['share'].cumsum()

    return df_col

In [66]:
societies_share = df.tipo_societario.value_counts()
df_soc = pd.DataFrame(societies_share)
all_soc = df_soc['count'].sum()
df_soc['share'] = (societies_share/ all_soc * 100).round(2)
df_soc['share_cum'] = df_soc['share'].cumsum()

In [92]:
df['year'].value_counts().reset_index()[0:4]

     year  count
0  2023.0  38017
1  2022.0  37735
2  2021.0  35308
3  2019.0  34262

In [102]:
check_shares(df)[0:5]

                        tipo_societario   count  share  share_cum
0  SOCIEDAD DE RESPONSABILIDAD LIMITADA  445287  38.22      38.22
1                      SOCIEDAD ANONIMA  377331  32.39      70.61
2                      ASOCIACION CIVIL  121351  10.42      81.03
3      SOCIEDAD POR ACCION SIMPLIFICADA   67600   5.80      86.83
4                           COOPERATIVA   44196   3.79      90.62

In [81]:
check_shares(df,'dom_legal_provincia')[0:5]

                               count  share  share_cum
dom_legal_provincia
CIUDAD AUTONOMA BUENOS AIRES  492267  41.37      41.37
BUENOS AIRES                  244581  20.55      61.92
CORDOBA                        91184   7.66      69.58
SANTA FE                       84510   7.10      76.68
MENDOZA                        50779   4.27      80.95

In [89]:
df.year.astype(str)

0          1912.0
1          1906.0
2          1964.0
3          1925.0
4          1913.0
            ...
1190095    1997.0
1190096    1997.0
1190097    1997.0
1190098    1997.0
1190099       nan
Name: year, Length: 1190100, dtype: object

In [121]:
df['decade'] = [f"{str(int(i))[:3]}0's" if pd.notna(i) else None for i in df.year ]

In [125]:
check_shares(df,'decade')[0:5]

   decade   count  share  share_cum
0  2010's  284141  24.10      24.10
1  2000's  279123  23.67      47.77
2  1990's  242523  20.57      68.34
3  2020's  155942  13.23      81.57
4  1980's  111994   9.50      91.07

# checkpoint

In [129]:
pd.to_pickle(df,'../data/dataframes/2024_09_rns.pkl')

In [131]:
df = pd.read_pickle('../data/dataframes/2024_09_rns.pkl')

In [132]:
df.head(2)

,cuit,razon_social,fecha_hora_contrato_social,tipo_societario,fecha_hora_actualizacion,numero_inscripcion,dom_fiscal_provincia,dom_fiscal_localidad,dom_fiscal_calle,dom_fiscal_numero,dom_fiscal_piso,dom_fiscal_departamento,dom_fiscal_cp,dom_fiscal_estado_domicilio,dom_legal_provincia,dom_legal_localidad,dom_legal_calle,dom_legal_numero,dom_legal_piso,dom_legal_departamento,dom_legal_cp,dom_legal_estado_domicilio,date,year,month,day,hour,decade
0,30500000127,SEGUROS SURA S.A,1912-04-30-10:43,SOCIEDAD ANONIMA,2024-07-01-14:08,NaN,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,"PERON, JUAN TTE.GRAL.",430.0,6,NaN,1038.0,DECLARADO POR INTERNET,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,"GRIERSON,CECILIA BOULEVARD",255.0,1,NaN,1107.0,DECLARADO,1912-04-30 10:43:00,1912.0,4.0,30.0,10.0,1910's
1,30500000747,BANCO COMERCIAL DE TRES ARROYOS S A,1906-09-01-00:00,SOCIEDAD ANONIMA,2024-01-01-09:51,NaN,BUENOS AIRES,TRES ARROYOS,BETOLAZA,189.0,NaN,NaN,7500.0,INEXISTENTE - DESCONOCIDO,BUENOS AIRES,TRES ARROYOS,AV MORENO,300.0,NaN,NaN,7500.0,NO CONFIRMADO,1906-09-01 00:00:00,1906.0,9.0,1.0,0.0,1900's

In [136]:
df[df['razon_social'].str.contains('leveal', case=False, na=False)]

,cuit,razon_social,fecha_hora_contrato_social,tipo_societario,fecha_hora_actualizacion,numero_inscripcion,dom_fiscal_provincia,dom_fiscal_localidad,dom_fiscal_calle,dom_fiscal_numero,dom_fiscal_piso,dom_fiscal_departamento,dom_fiscal_cp,dom_fiscal_estado_domicilio,dom_legal_provincia,dom_legal_localidad,dom_legal_calle,dom_legal_numero,dom_legal_piso,dom_legal_departamento,dom_legal_cp,dom_legal_estado_domicilio,date,year,month,day,hour,decade
238732,30664985469,LEVEAL S A,1995-09-30-00:00,SOCIEDAD ANONIMA,2024-01-01-11:13,NaN,BUENOS AIRES,CARMEN DE ARECO,RUTA NAC. Nº 7 KM. 139.500,0.0,NaN,NaN,6725.0,CONFIRMADO,BUENOS AIRES,CARMEN DE ARECO,"RUTA 7 KM 139,5",0.0,NaN,NaN,6725.0,CONFIRMADO,1995-09-30,1995.0,9.0,30.0,0.0,1990's

In [139]:
df[df['razon_social'].str.contains('fatme', case=False, na=False)]

,cuit,razon_social,fecha_hora_contrato_social,tipo_societario,fecha_hora_actualizacion,numero_inscripcion,dom_fiscal_provincia,dom_fiscal_localidad,dom_fiscal_calle,dom_fiscal_numero,dom_fiscal_piso,dom_fiscal_departamento,dom_fiscal_cp,dom_fiscal_estado_domicilio,dom_legal_provincia,dom_legal_localidad,dom_legal_calle,dom_legal_numero,dom_legal_piso,dom_legal_departamento,dom_legal_cp,dom_legal_estado_domicilio,date,year,month,day,hour,decade
182918,30645633942,FATME SRL,1991-08-26-00:00,SOCIEDAD DE RESPONSABILIDAD LIMITADA,2024-02-22-13:48,NaN,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,CEVALLOS VIRREY,677.0,01,NaN,1077.0,INEXISTENTE - DESCONOCIDO,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,CEVALLOS VIRREY,677.0,01,NaN,1077.0,NO CONFIRMADO,1991-08-26,1991.0,8.0,26.0,0.0,1990's
1051202,30718308166,FATME DESARROLLOS AGROPECUARIOS,2023-10-10-00:00,SOCIEDAD DE RESPONSABILIDAD LIMITADA,2024-01-01-10:14,NaN,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,NUEVA YORK,4074.0,4,B,1419.0,DECLARADO,CIUDAD AUTONOMA BUENOS AIRES,CAPITAL FEDERAL,NUEVA YORK,4074.0,4,B,1419.0,DECLARADO,2023-10-10,2023.0,10.0,10.0,0.0,2020's

In [138]:
# df[df['razon_social'].str.contains('gauchita', case=False, na=False)]